// src/scss/components/_property-card-list.scss
@use "../variables" as vars;
@use "../brand_color" as brand;

.property-card-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 10px 0;
}
