<!-- Success Modal -->

<div
  class="modal fade"
  id="supportSuccessModal"
  tabindex="-1"
  aria-labelledby="supportSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="supportSuccessModalLabel">
          Сообщение отправлено
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Закрыть"
        ></button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-3">
          <i
            class="bi bi-check-circle-fill text-success"
            style="font-size: 4rem"
          ></i>
        </div>
        <p class="text-center">
          Ваше сообщение успешно отправлено. Наша служба поддержки свяжется с
          вами как можно скорее.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Fail request Modal -->

<div
  class="modal fade"
  id="supportFailModal"
  tabindex="-1"
  aria-labelledby="supportFailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="supportFailModalLabel">Ошибка отправки</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Закрыть"
        ></button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-3">
          <i
            class="bi bi-x-circle-fill text-danger"
            style="font-size: 4rem"
          ></i>
        </div>
        <p class="text-center">
          Произошла ошибка при отправке сообщения. Пожалуйста, проверьте
          подключение к интернету и попробуйте еще раз.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Попробовать снова
        </button>
      </div>
    </div>
  </div>
</div>
