<div class="property-summary-card">
  <div
    class="property-summary-card__favorite-icon"
    role="button"
    aria-label="Добавить в избранное"
    tabindex="0"
  >
    <svg
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="var(--brand-bright-pink)"
      stroke-width="2"
    >
      <path
        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
      ></path>
    </svg>
  </div>

  <h3 class="property-summary-card__title text-light-gray-30">
    <a href="/property-view-standalone.html"
      >1-к. квартира, 65 м2 | Зиповская</a
    >
  </h3>
  <p class="property-summary-card__price">₽ 14 000 000</p>
  <ul class="property-summary-card__details-list">
    <li class="property-summary-card__detail-item">
      <span class="property-summary-card__detail-label"
        >Название комплекса</span
      >
      <span class="property-summary-card__detail-value">ЖК «Фонтаны»</span>
    </li>

    <li class="property-summary-card__detail-item">
      <span class="property-summary-card__detail-label">Улица</span>
      <span class="property-summary-card__detail-value"
        >Ставропольская ул.</span
      >
    </li>

    <li class="property-summary-card__detail-item">
      <span class="property-summary-card__detail-label">Состояние</span>
      <span class="property-summary-card__detail-value">Ремонт</span>
    </li>
  </ul>

  <div class="property-summary-card__phone">
    <span class="property-summary-card__phone-label">Агент:</span>
    <span class="property-summary-card__phone-agent-name">Иван</span>
    <a href="tel:+7 (918) 254-25-36" class="property-summary-card__phone-link">
      📞 +7 (918) 254-25-36
    </a>
  </div>
</div>
