<div class="property-summary-card">
  <h3 class="property-summary-card__title">
    <a href="#">1-к. квартира, 65 м2 | Зиповская</a>
  </h3>
  <p class="property-summary-card__price">₽ 14 000 000</p>
  <ul class="property-summary-card__details-list">
    <li class="property-summary-card__detail-item">
      <span class="property-summary-card__detail-label"
        >Название комплекса</span
      >
      <span class="property-summary-card__detail-value">ЖК «Фонтаны»</span>
    </li>
    <li class="property-summary-card__detail-item">
      <span class="property-summary-card__detail-label">Улица</span>
      <span class="property-summary-card__detail-value"
        >Ставропольская ул.</span
      >
    </li>
    <li class="property-summary-card__detail-item">
      <span class="property-summary-card__detail-label">Состояние</span>
      <span class="property-summary-card__detail-value">Ремонт</span>
    </li>
    <li class="property-summary-card__detail-item">
      <span class="property-summary-card__detail-label">Агент</span>
      <span class="property-summary-card__detail-value">89182542536</span>
    </li>
  </ul>
</div>
