<form id="reportAdForm" novalidate>
  <div class="form-field mb-3">
    <label for="reportDescription" class="form-label required"
      >Причина жалобы</label
    >
    <textarea
      id="reportDescription"
      name="description"
      class="form-input"
      rows="4"
      placeholder="Опишите, что не так с этим объявлением..."
    ></textarea>
  </div>
  <button
    type="submit"
    class="brand-button brand-button--solid brand-button--turquoise"
  >
    Отправить жалобу
  </button>
</form>
