@use "brand_color" as *;
@use "customization_bootstrap" as *;

// Google Fonts - Oswald
// @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

// 8. Add additional custom code and imports here

// Fonts
@import "fonts";

// Bootstrap Icons
@import "bootstrap-icons/font/bootstrap-icons.css";

// Swiper styles
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

// Select2
@import "select2/dist/css/select2.min.css";
@import "../css-libs/select2-bootstrap-5-theme.min.css";

// Components
@import "components/header";
@import "components/collection-selector-popup/collection-selector-popup";
@import "components/interactive-toast";
@import "components/mobile_menu";
@import "components/footer";
@import "components/toast";
@import "components/forms";
@import "components/_property-card-list";

@import "components/property-card";
@import "components/property-detail/property-detail-gallery";
@import "components/brand-button";
@import "components/sidebar/sidebar-filters";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/modal";
// @import "components/spiner";

// Pages
// @import "pages/home";
@import "pages/profile";
@import "pages/support";
@import "pages/subscriptions";
@import "pages/favorites";
@import "pages/collections";
@import "pages/collections-create";
@import "pages/add-listing";
@import "pages/search";
@import "pages/home";
@import "pages/property-detail-page";
@import "pages/forms-examples";

// // Global styles
// body {
//   font-family: vars.$font-family-base;
//   line-height: vars.$line-height-base;
//   padding-top: 60px; // Account for fixed header
//   margin: 0;
// }

// // Layout components
// .container {
//   max-width: vars.$container-max-width;
//   margin: 0 auto;
//   padding: 0 vars.$grid-gutter * 0.5;
// }

// // Utility classes
// .text-truncate {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// Simple main.scss for testing

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Define some basic styles to see if they're applied
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  padding-top: 83px;
  margin: 0;
  min-height: 100vh; /* Минимальная высота на весь viewport */
}

// Basic styling for main content
.page-content {
  flex: 1; /* Занимает все доступное пространство */
  padding: 7px;
  padding-top: 15px;
  // background-color: $body-bg;
}

// Basic styling for footer
.footer {
  background-color: #ffffff;
  padding: 20px 15px;
  text-align: center;

  &__nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  &__link {
    color: #666;
    text-decoration: none;
  }

  &__copyright {
    color: #999;
    font-size: 14px;
  }
}
